@import '../../assets/styles/settings';

.dashboard {
  padding: 0 5%;
  min-height: 100vh;

  &__header {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    border-bottom: 1px solid rgba(42, 56, 66, 0.2);
  }

  &__headerText {
    font-size: 28px;
    margin: 0;
    font-weight: normal;
    align-self: center;
    color: $main-text-color;
  }

  &__headerIcon {
    @include imgFormat();
    cursor: pointer;
  }

  &__noIdeaSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15%;
  }

  &__bulbIcon {
    @include imgFormat();
  }
}
